# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#

!.gitignore
# Change this to the name of the Unity project
VERCITIES_CATALOG_XXXXX/*
!**/[Aa]ssets/
!**/[Pp]rojectSettings/
!**/[Pp]ackages/